pyyaml
tomli
tomlkit
rich
typer
appdirs
loguru
faker
aiofiles
aiohttp
aiohttp-socks
python-dateutil
ddddocrfix
embypyfix
pyrogram
tgcrypto
pillow>10.0.0
thefuzz[speedup]
schema
aiocache
pycryptodome
flask<3
flask-socketio
flask-login
simple-websocket
eventlet
cryptography
werkzeug<3
cachetools
emoji
